# Rename this file to .env keep it in this same directory
# and customize the variables below

# Django settings
SECRET_KEY=my_secret_key

# Virtualphone settings
TWILIO_DEFAULT_CALLERID=XXXXXXXXXXXXXXXXXXXXXXXXXX
EMAIL_TO=alice@example.com
EMAIL_FROM=bob@example.com

# Debugging
DEBUG=True
